<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.net.yzl.crm.dao.LabelMapper">

    <select id="getLabelTypes" resultType="cn.net.yzl.crm.model.LabelType">
        select id,name as label_name from label_type_base
    </select>

    <insert id="saveProvince" parameterType="cn.net.yzl.crm.model.Province" >
        insert into province(name,code,country_id,zname,aname,pname,abbr)
        values (#{name},#{code},#{country_id},#{zname},#{aname},#{pname},#{abbr})
    </insert>

</mapper>