<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.net.yzl.crm.dao.OrderMemberMapper" >
  <resultMap id="BaseResultMap" type="cn.net.yzl.crm.model.OrderMember" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="depart_id" property="departId" jdbcType="BIGINT" />
    <result column="reveiver_address_no" property="reveiverAddressNo" jdbcType="BIGINT" />
    <result column="work_order_no" property="workOrderNo" jdbcType="BIGINT" />
    <result column="media_no" property="mediaNo" jdbcType="BIGINT" />
    <result column="media_name" property="mediaName" jdbcType="VARCHAR" />
    <result column="media_type" property="mediaType" jdbcType="TINYINT" />
    <result column="activity_no" property="activityNo" jdbcType="BIGINT" />
    <result column="order_nature" property="orderNature" jdbcType="TINYINT" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="logistics_status" property="logisticsStatus" jdbcType="TINYINT" />
    <result column="amount_order" property="amountOrder" jdbcType="INTEGER" />
    <result column="first_order_flag" property="firstOrderFlag" jdbcType="TINYINT" />
    <result column="amount_delivery" property="amountDelivery" jdbcType="INTEGER" />
    <result column="amount_receivable" property="amountReceivable" jdbcType="INTEGER" />
    <result column="amount_actual" property="amountActual" jdbcType="INTEGER" />
    <result column="amount_red_envelope" property="amountRedEnvelope" jdbcType="INTEGER" />
    <result column="amount_coupon" property="amountCoupon" jdbcType="INTEGER" />
    <result column="points_deduction" property="pointsDeduction" jdbcType="INTEGER" />
    <result column="return_amount_red_envelope" property="returnAmountRedEnvelope" jdbcType="INTEGER" />
    <result column="return_amount_coupon" property="returnAmountCoupon" jdbcType="INTEGER" />
    <result column="return_points_deduction" property="returnPointsDeduction" jdbcType="INTEGER" />
    <result column="member_no" property="memberNo" jdbcType="INTEGER" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="member_card_no" property="memberCardNo" jdbcType="INTEGER" />
    <result column="invoice_flag" property="invoiceFlag" jdbcType="TINYINT" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="product_number" property="productNumber" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_code" property="createCode" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_code" property="updateCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, depart_id, reveiver_address_no, work_order_no, media_no,media_name,media_type activity_no,
    order_nature, order_status, logistics_status, amount_order, first_order_flag, amount_delivery, 
    amount_receivable, amount_actual, amount_red_envelope, amount_coupon, points_deduction, 
    return_amount_red_envelope, return_amount_coupon, return_points_deduction, member_no, 
    member_name, member_card_no, invoice_flag, pay_type, product_number, remark, create_time, 
    create_code, update_time, update_code
  </sql>

  <sql id="querySql">
    <where>
      <if test="params!=null and params.id != null and params.id != ''">
        and t.id = #{params.id}
      </if>
    </where>
  </sql>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from order_member
    <include refid="querySql"/>
  </select>

  <select id="selectCount" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select count(t.*)
    from order_member t
    <include refid="querySql"/>
  </select>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_member
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from order_member
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="save" parameterType="cn.net.yzl.crm.model.OrderMember" >
    insert into order_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
      <if test="reveiverAddressNo != null" >
        reveiver_address_no,
      </if>
      <if test="workOrderNo != null" >
        work_order_no,
      </if>
      <if test="mediaNo != null" >
        media_no,
      </if>
      <if test="mediaName != null" >
        media_name,
      </if>
      <if test="mediaType != null" >
        media_type,
      </if>
      <if test="activityNo != null" >
        activity_no,
      </if>
      <if test="orderNature != null" >
        order_nature,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="logisticsStatus != null" >
        logistics_status,
      </if>
      <if test="amountOrder != null" >
        amount_order,
      </if>
      <if test="firstOrderFlag != null" >
        first_order_flag,
      </if>
      <if test="amountDelivery != null" >
        amount_delivery,
      </if>
      <if test="amountReceivable != null" >
        amount_receivable,
      </if>
      <if test="amountActual != null" >
        amount_actual,
      </if>
      <if test="amountRedEnvelope != null" >
        amount_red_envelope,
      </if>
      <if test="amountCoupon != null" >
        amount_coupon,
      </if>
      <if test="pointsDeduction != null" >
        points_deduction,
      </if>
      <if test="returnAmountRedEnvelope != null" >
        return_amount_red_envelope,
      </if>
      <if test="returnAmountCoupon != null" >
        return_amount_coupon,
      </if>
      <if test="returnPointsDeduction != null" >
        return_points_deduction,
      </if>
      <if test="memberNo != null" >
        member_no,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="memberCardNo != null" >
        member_card_no,
      </if>
      <if test="invoiceFlag != null" >
        invoice_flag,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="productNumber != null" >
        product_number,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createCode != null" >
        create_code,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateCode != null" >
        update_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=BIGINT},
      </if>
      <if test="reveiverAddressNo != null" >
        #{reveiverAddressNo,jdbcType=BIGINT},
      </if>
      <if test="workOrderNo != null" >
        #{workOrderNo,jdbcType=BIGINT},
      </if>
      <if test="mediaNo != null" >
        #{mediaNo,jdbcType=BIGINT},
      </if>
      <if test="mediaName != null" >
        #{mediaName,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null" >
        #{mediaType,jdbcType=BIGINT},
      </if>
      <if test="activityNo != null" >
        #{activityNo,jdbcType=BIGINT},
      </if>
      <if test="orderNature != null" >
        #{orderNature,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="logisticsStatus != null" >
        #{logisticsStatus,jdbcType=TINYINT},
      </if>
      <if test="amountOrder != null" >
        #{amountOrder,jdbcType=INTEGER},
      </if>
      <if test="firstOrderFlag != null" >
        #{firstOrderFlag,jdbcType=TINYINT},
      </if>
      <if test="amountDelivery != null" >
        #{amountDelivery,jdbcType=INTEGER},
      </if>
      <if test="amountReceivable != null" >
        #{amountReceivable,jdbcType=INTEGER},
      </if>
      <if test="amountActual != null" >
        #{amountActual,jdbcType=INTEGER},
      </if>
      <if test="amountRedEnvelope != null" >
        #{amountRedEnvelope,jdbcType=INTEGER},
      </if>
      <if test="amountCoupon != null" >
        #{amountCoupon,jdbcType=INTEGER},
      </if>
      <if test="pointsDeduction != null" >
        #{pointsDeduction,jdbcType=INTEGER},
      </if>
      <if test="returnAmountRedEnvelope != null" >
        #{returnAmountRedEnvelope,jdbcType=INTEGER},
      </if>
      <if test="returnAmountCoupon != null" >
        #{returnAmountCoupon,jdbcType=INTEGER},
      </if>
      <if test="returnPointsDeduction != null" >
        #{returnPointsDeduction,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null" >
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberCardNo != null" >
        #{memberCardNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceFlag != null" >
        #{invoiceFlag,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="productNumber != null" >
        #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null" >
        #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null" >
        #{updateCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cn.net.yzl.crm.model.OrderMember" >
    update order_member
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
      <if test="reveiverAddressNo != null" >
        reveiver_address_no = #{reveiverAddressNo,jdbcType=BIGINT},
      </if>
      <if test="workOrderNo != null" >
        work_order_no = #{workOrderNo,jdbcType=BIGINT},
      </if>
      <if test="mediaNo != null" >
        media_no = #{channelNo,jdbcType=BIGINT},
      </if>
      <if test="mediaName != null" >
        media_name = #{channelNo,jdbcType=BIGINT},
      </if>
      <if test="mediaType != null" >
        media_type = #{channelNo,jdbcType=BIGINT},
      </if>
      <if test="activityNo != null" >
        activity_no = #{activityNo,jdbcType=BIGINT},
      </if>
      <if test="orderNature != null" >
        order_nature = #{orderNature,jdbcType=TINYINT},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=TINYINT},
      </if>
      <if test="logisticsStatus != null" >
        logistics_status = #{logisticsStatus,jdbcType=TINYINT},
      </if>
      <if test="amountOrder != null" >
        amount_order = #{amountOrder,jdbcType=INTEGER},
      </if>
      <if test="firstOrderFlag != null" >
        first_order_flag = #{firstOrderFlag,jdbcType=TINYINT},
      </if>
      <if test="amountDelivery != null" >
        amount_delivery = #{amountDelivery,jdbcType=INTEGER},
      </if>
      <if test="amountReceivable != null" >
        amount_receivable = #{amountReceivable,jdbcType=INTEGER},
      </if>
      <if test="amountActual != null" >
        amount_actual = #{amountActual,jdbcType=INTEGER},
      </if>
      <if test="amountRedEnvelope != null" >
        amount_red_envelope = #{amountRedEnvelope,jdbcType=INTEGER},
      </if>
      <if test="amountCoupon != null" >
        amount_coupon = #{amountCoupon,jdbcType=INTEGER},
      </if>
      <if test="pointsDeduction != null" >
        points_deduction = #{pointsDeduction,jdbcType=INTEGER},
      </if>
      <if test="returnAmountRedEnvelope != null" >
        return_amount_red_envelope = #{returnAmountRedEnvelope,jdbcType=INTEGER},
      </if>
      <if test="returnAmountCoupon != null" >
        return_amount_coupon = #{returnAmountCoupon,jdbcType=INTEGER},
      </if>
      <if test="returnPointsDeduction != null" >
        return_points_deduction = #{returnPointsDeduction,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null" >
        member_no = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberCardNo != null" >
        member_card_no = #{memberCardNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceFlag != null" >
        invoice_flag = #{invoiceFlag,jdbcType=TINYINT},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="productNumber != null" >
        product_number = #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createCode != null" >
        create_code = #{createCode,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateCode != null" >
        update_code = #{updateCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>